.App {
  text-align: center;
}

nav{
  background-color:rgba(97, 97, 252, 0.384);
}

nav ul{
  margin: 0;
  display: flex;
  height: 3rem;
  justify-content: right;
  list-style: none;
}

nav ul li{
padding: .5rem;
}

a{
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}